{% extends "global/Page.html" %}
{% block content %}


<b>Contest 3<br></b><br>
Here are the details of this contest.<br><br>
<b>No. of participants:</b> 3 (including you)&nbsp;<br>
<b>1st prize:</b>&nbsp; {{ C.THREE_PLAYER_LGN_PRIZE_1 }} tokens&nbsp;<br>
<b>1st prize:</b>&nbsp; {{ C.THREE_PLAYER_LGN_PRIZE_2 }} tokens&nbsp;<br>
<b>2nd prize</b>: 0 tokens&nbsp;<br>
<b>Rules:</b>&nbsp;
<ul>
 <li>The participant with the highest bid wins the 1st prize.&nbsp;</li>
 <li>The participant with the smallest bid wins the 2nd prize.&nbsp;</li>
 <li>Ties are broken randomly.&nbsp;</li>
</ul>
<b>Reminder:</b>

<ul>
 <li>You pay your bidding cost of {{ participant.COST }}*(your bid) tokens irrespective of your prize.</li>
 <li>Your prize won may be {{ C.THREE_PLAYER_LGN_PRIZE_1 }} tokens or 0 tokens, depending on whether your bid is one of the highest bid or not.</li>
 <li>Your opponents' cost-per-bid may be&nbsp;{{ C.COST_LOW }} or&nbsp;{{ C.COST_HIGH }} with equal probability.</li>
</ul>
<br>
Please choose your bid for this contest in the slider below.

<p>Move the slider to decide how much to give.</p>

<style>.slider-long {
    width: 100%; /* Adjust the width as necessary */
} </style>

<input type="range" name="bid" min="0" max="{{ C.ENDOWMENT }}" oninput="updateDescription(this)" class="slider-long">

<p id="description"></p>
<!-- by leaving the description blank initially, we prompt the user to move the slider,
reducing the anchoring/default effect. -->

<script>
    let description = document.getElementById('description');
    function updateDescription(input) {
        let bid = parseInt(input.value);
        let bidding_cost = bid * {{ participant.COST }};
        let winnings = {{ C.THREE_PLAYER_LGN_PRIZE_1 }} - bidding_cost; 

        if (winnings >= 0) {
            description.innerHTML = `Bid ${bid} tokens. Your bidding cost is ${bidding_cost} tokens. <br>
            If your bid is the highest, you <b>win</b> ${winnings} tokens.` 
        }
         else { description.innerHTML = `Bid ${bid} tokens. Your bidding cost is ${bidding_cost} tokens. <br>
            If your bid is the highest, you <b>lose</b> ${winnings * -1} tokens.` 
    }   
    }
</script>



<form method="post">
    <button type="submit">Continue</button>
</form>

{% endblock %}