{% extends "global/Page.html" %}
{% block content %}

<style>
    .quiz-text {
        background-color: rgb(255, 255, 255);
        color: rgb(50, 54, 58);
        font-family: "72", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }
</style>

<p><strong>Comprehension quiz</strong><br><br>
<span class="quiz-text">Please carefully respond to the comprehension questions below. In the event that any question is not answered correctly, participation in the experiment will be discontinued, and no compensation will be provided.</span>
<br><br>
<span class="quiz-text">Suppose you are participating in the following contest:</span>
<br><br>
<strong>No. of participants:&nbsp;</strong>
<span class="quiz-text">2 (including you)</span>
<br>
<strong>1st prize: </strong>
<span class="quiz-text">{{C.SAMPLE_PRIZE}} tokens</span>
<br>
<strong>2nd prize: </strong>
<span class="quiz-text">0 tokens</span>
<br>
<strong>Rules</strong>
<span class="quiz-text">:</span></p>

<ul class="quiz-text" style="list-style-position: inside;">
    <li>The participant with the highest bid wins the 1st prize.</li>
    <li>The participant with the smallest bid wins the 2nd prize.</li>
    <li>Ties are broken randomly.</li>
</ul>


<div>
    <strong>Question 1</strong>
    <p>Suppose your cost-per-bid is {{ C.COST_HIGH }} tokens.<br>
    What is the probability that your opponent has a cost-per-bid of {{ C.COST_HIGH }} tokens?</p>
    {{ form.quiz1 }}
</div>
&nbsp
<div>
    <strong>Question 2</strong>
    <p>Suppose your cost-per-bid is {{C.COST_HIGH}} tokens, and you submit a bid of {{C.SAMPLE_BID_2}}. <br> What will be your bidding cost?</p>
    {{ form.quiz2 }}
</div>
&nbsp
<div>
    <strong>Question 3</strong>
    <p>Suppose your cost-per-bid is {{C.COST_HIGH}} tokens, and you bid {{C.SAMPLE_BID_2}}. Further suppose your opponent bids {{C.SAMPLE_BID}}. Recall that the 1st prize is {{C.SAMPLE_PRIZE}} tokens and the 2nd prize is 0 tokens.
What will be your prize won?</p>
    {{ form.quiz3 }}
</div>
&nbsp
<div>
    <strong>Question 4</strong>
    <p>Recall that your endowment is {{C.ENDOWMENT}} tokens and that your final payout is <br><b>endowment - bidding cost + prize won.</b><br>
 What will be your final payout (in tokens) in the situation described above?</p>
    {{ form.quiz4 }}
</div>
<br>

<l>Please check your answers carefully.
If any of the answers is incorrect, the survey will end and you will not receive any payment.</l>
<l>If all the answers are correct, you will proceed further in the experiment.</l>


<br><br>

<form method="post">
    <button type="submit">Continue</button>
</form>

{% endblock %}